* {
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

header {
    width: 100%;
    display: block;
}

.cabecario {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
    background: black;
    width: 60%;
}

.logonav {
    height: 60px;
    margin-left: 60px;
}

h1 {
    font-size: x-large;
    text-decoration: solid;
    margin-left: 20px;
    color: white;
}

.fit {
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-basis: 40%;
}

.links {
    margin-left: 17%;
}

.imgslider {
    height: 20%;
    width: 20%;
}

h2 {
    text-align: center;
    margin: 10px;
}

.multibox {
    margin: auto;
    width: 80%;
}

.greentext {
    color: green;
    font-size: x-large;
    margin-bottom: 30px;
}

.catalogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.textcenter {
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-size: cover;
}

.img6 {background-image: url(img/item6.png);}
.img7 {background-image: url(img/item7.png);}
.img8 {background-image: url(img/item8.png);}
.img9 {background-image: url(img/item9.png);}
.img10 {background-image: url(img/item10.png);}
.img11 {background-image: url(img/item11.png);}
.img12 {background-image: url(img/item12.png);}
.img13 {background-image: url(img/item13.png);}
.img14 {background-image: url(img/item14.jpg);}
.img15 {background-image: url(img/item15.png);}
.img16 {background-image: url(img/item16.png);}
.img17 {background-image: url(img/item17.png);}
.img18 {background-image: url(img/item18.png);}
.img19 {background-image: url(img/item19.png);}
.img20 {background-image: url(img/item20.png);}
.img21 {background-image: url(img/item21.png);}

.bemvindos p {
    text-align: center;
    color: green;
    font-size: 35px;
}

.logodown {
    height: 300px;
    margin-left: 50%;
    transform: translate(-50%);
}

.fulled {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 375px;
}

.textsobreposto {
    width: 100%;
    margin: auto;
    margin-top: -350px;
    position: absolute;
    text-align: center;
    font-size: 35px;
}

footer {
    margin-top: 100px;
    bottom: 0;
}

.fotbox {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: gray;
}

.endereco {
    background-color: black;
    padding: 18px;
    text-align: center;
    color: white;
}

.alinhar {
    display: flex;
    align-items: center;
}

a:link, a:visited {
    background-color: white;
    color: green;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color:beige;
    color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}